@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "EnrollCourse";
    Layout = "~/Views/Shared/_FrontPannelLayout.cshtml";
}
<title>OCR - Enroll Courses</title>
<!-- Datepicker CSS -->
<link rel="stylesheet" href="~/assets/css/gijgo.min.css" />
@section Scripts{ 
    <script src="~/ApplicationScripts/Common/custom-validate.js"></script>
    <!-- Enroll Courses JS -->
    <script src="~/assets/js/enroll-courses.js"></script>
    <!-- Advance Search JS -->
    <script src="~/assets/js/advance-search.js"></script>
    <!-- Datepicker JS -->
    <script src="~/assets/js/gijgo.min.js"></script>
    <script>
        $(document).ready(function () {
            loadNavigation('EnrollCourse', 'EnrollCourse');
        });
    </script>
    <script>
        $('#searchDate').datepicker({ format: 'dd-mmm-yyyy' });
    </script>
    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>
    <script src="~/ApplicationScripts/Attendee/enroll-courses.js"></script>
    <script src="~/ApplicationScripts/Common/date-format-converter.js"></script>
    <script>
        $('#searchlist').keyup(function () {

            var that = this;
            all_list = $('#AttendeeUPlList ul > li');

            var matching_list = all_list.filter(function (i, li) {
                var list_item_text = $(li).text().toUpperCase();
                var search_text = that.value.toUpperCase();
                return ~list_item_text.indexOf(search_text);
            });

            all_list.hide();
            matching_list.show();

        });
    </script>
}
<!-- Main Content Layout -->
<!-- Breadcrumb Area -->
<div class="breadcrumb-area">
    <h1>Enroll Courses</h1>
    <ol class="breadcrumb">
        <li class="item">
            <a href="attendee-dashboard.html"><i class='bx bx-home-alt'></i></a>
        </li>
        <li class="item">Dashboard</li>
        <li class="item">Enroll Courses</li>
    </ol>
</div>
<!-- End Breadcrumb Area -->
<!-- Start -->
<div class="card mb-30">
    <div class="card-body">
        <div class="search-box col-md-8 ml-170 resml-0">
            <div class="input-group mb-1 adv-search">
                <div class="clearable">
                    <input type="text" class="form-control" id="searchlist" placeholder="Search..." />
                    <i class="clearable__clear">&times;</i>
                </div>
                <div class="adv-search-caret advanceSearch" data-toggle="tooltip" data-placement="bottom" title="Show search options">
                    <i class="fa fa-caret-down"></i>
                </div>
                <div class="input-group-append" data-toggle="tooltip" data-placement="bottom" title="Search">
                    <span class="adv-search-icon"><i class="bx bx-search"></i></span>
                </div>
                <div class="more-search advanceSearch" data-toggle="tooltip" data-placement="bottom" title="Show search options">(More)</div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="adv-search-area" id="advanceSearchArea">
            <div class="col-sm-2 col-lg-2 col-md-2 ocr-float-left">
                <div class="form-group">
                    <strong>Host</strong>
                </div>
            </div>
            <div class="col-sm-10 col-lg-10 col-md-10 ocr-float-left">
                <div class="form-group">
                    <input type="text" id="txtHost" autocomplete="off" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-2 col-lg-2 col-md-2 ocr-float-left">
                <div class="form-group">
                    <strong>Course</strong>
                </div>
            </div>
            <div class="col-sm-10 col-lg-10 col-md-10 ocr-float-left">
                <div class="form-group">
                    <input type="text" id="txtCourse" autocomplete="off" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-2 col-lg-2 col-md-2 ocr-float-left">
                <div class="form-group">
                    <strong>Start Date</strong>
                </div>
            </div>
            <div class="col-sm-10 col-lg-10 col-md-10 ocr-float-left ocr-datepicker-md">
                <div class="form-group">
                    <input type="text" autocomplete="off" id="searchDate" readonly />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-2 col-lg-2 col-md-2 ocr-float-left">
                <div class="form-group">
                    <strong>Price Range</strong>
                </div>
            </div>
            <div class="col-sm-5 col-lg-5 col-md-5 ocr-float-left">
                <div class="form-group">
                    <input type="text" id="txtMinPrice" autocomplete="off" placeholder="Min price" onkeypress="return isNumber(event)" />
                </div>
            </div>
            <div class="col-sm-5 col-lg-5 col-md-5 ocr-float-left">
                <div class="form-group">
                    <input type="text" id="txtMaxPrice" autocomplete="off" placeholder="Max price" onkeypress="return isNumber(event)" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="adv-search-btn-area">
                <button type="button" class="btn btn-outline-secondary" id="clearfilter">Clear Filter</button>
                <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="divnoofdata" class="noofdatadiv">Total no of data :  <span id="spannoofdata" class="noofdata"></span></div>
        <div class="container mt-30" id="AttendeeUPlList">
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <ul class="list-group" id="coursedetails">
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- Courses not available -->
<div class="card mb-30" id="cnotavailable">
    <div class="card-body text-center">

        <h3>There is no courses available!</h3>

    </div>
</div>

<!-- End -->