@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "EnrollCourseDetails";
    Layout = "~/Views/Shared/_FrontPannelLayout.cshtml";
}
@section Scripts{
    <script>
        var sid =@ViewBag.id;
        $("#hfScId").val(sid); 
        var batch ='@ViewBag.BatchName';
        $("#hfbatch").val(batch);

    </script>
    <script src="~/ApplicationScripts/Common/custom-validate.js"></script>
    <script src="~/ApplicationScripts/Attendee/enroll-course-details.js"></script>
    <script src="~/ApplicationScripts/Common/date-format-converter.js"></script>
    <script>
        $(document).ready(function () {
            loadNavigation('EnrollCourseDetails', 'EnrollCourse');
        });
    </script>
}
<title>OCR - Enroll Courses</title>
<!-- Breadcrumb Area -->
<div class="breadcrumb-area">
    <h1>Course Details</h1>
    <ol class="breadcrumb">
        <li class="item">
            <a href="attendee-dashboard.html"><i class='bx bx-home-alt'></i></a>
        </li>
        <li class="item">Dashboard</li>
        <li class="item">Enroll Courses</li>
        <li class="item">Course Details</li>
    </ol>
</div>

<div class="card mb-30">
    <div class="card-body">

        <div class="enroll-card">
            <div class="back-to-list">

                <a asp-area="Attendee" asp-controller="EnrollCourses" asp-action="EnrollCourse"><i class="bx bx-arrow-back"></i>Back To List</a>

            </div>
            <div class="calendar-header">
                <input type="hidden" name="hfScId" id="hfScId">
                <input type="hidden" name="hfbatch" id="hfbatch">
                <input type="hidden" name="hfsd" id="hfsd">
                <input type="hidden" name="hfed" id="hfed">
                <span class="section-title" id="coursename"></span><span class="topic-font" id="topic"></span>
                @*<span class="add-to-favorite" data-toggle="tooltip" data-placement="bottom" title="Add To Favorite"><i class="bx bx-star"></i></span>*@
                <div class="enroll-new-course" data-toggle="modal" data-target="#GetAttendeeModal">Enroll<i class="bx bx-plus bx-pad"></i></div>
                <div class="enroll-course-banner" data-toggle="modal" data-target="#GetCourseBrochureModal">Brochure<i class="bx bxs-file-image bx-pad"></i></div>

            </div>
            <hr />
            <div class="text margin-y">
                <p id="desc"></p>
            </div>
            <div class="desc-footer">
                <div class="enroll-footer-new-course" data-toggle="modal" data-target="#GetAttendeeModal">Enroll<i class="bx bx-plus bx-pad"></i></div>
            </div>
        </div>

    </div>
</div>   
<!-- Start Attendee Plan Modal -->
<div class="modal fade basicModalSM plan-modal" id="GetAttendeePerminumModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered cascading-modal" role="document">
        <div class="modal-content p-20">
            <div class="modal-header col-yellow">
                <h4 class="modal-title white-text title"><i class="bx bxs-crown"></i> Course Plan</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="close per-close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- Start Pricing Area -->
                <div class="col-lg-12 col-md-12 atee-price-section">
                    <div class="atee-price-header" data-toggle="tooltip" data-placement="top" title="Course">Physics</div>
                    <div class="atee-price-money" data-toggle="tooltip" data-placement="top" title="Fee">
                        <sub>₹</sub>
                        3000.00
                        <sub>/mo</sub>
                    </div>
                    <div class="atee-price-features" data-toggle="tooltip" data-placement="top" title="Host"><i class='bx bxs-face'></i> Amit Kumar Shaoo</div>
                    <div class="atee-price-link"><a href="javascript:void(0);" class="get-started-btn" id="btn_enroll">Get Started</a></div>
                </div>
                <!-- End Pricing Area -->
            </div>
        </div>
    </div>
</div>
<!-- End Attendee Plan Modal -->
<!-- Start Course Brochure Modal -->
<div class="modal fade" id="GetCourseBrochureModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-20">
            <div class="modal-body">
                <button type="button" class="close enroll-close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <a id="urlbrouchure" class="bx bx-download sm-download" download>
                    <img id="imgbrouchure" class="banner-img" />
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End  Course Brochure Modal -->
<!-- Start Contact To Host Modal -->
<div class="modal fade" id="GetContactHostModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Contact To Host</h5>
                <button type="button" class="close col-black" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body re-modal-body">
                <div class="row form-group">
                    <div class="col-md-4 res-mb-16">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Enter Name">
                    </div>
                    <div class="col-md-4 res-mb-16">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email">
                    </div>
                    <div class="col-md-4">
                        <label>Phone</label>
                        <input type="text" class="form-control" placeholder="Enter Phone">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12 res-mb-16">
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Enter Message"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- End Contact To Host Modal -->
