@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png" />

    <!-- Vendors Min CSS -->
    <link rel="stylesheet" href="~/assets/css/vendors.min.css" />
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/css/all.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/custom.css" />
    <link href="~/assets/css/core.css" rel="stylesheet" />
    <!-- Calendar CSS -->
    <link rel="stylesheet" href="~/assets/calendar/css/fullcalendar.css" />
    <link rel="stylesheet" href="~/assets/calendar/css/fullcalendar.print.css" media="print" />
    <!-- Country Code CSS -->
    <link rel="stylesheet" href="~/assets/css/intlTelInput.css" />
    <!-- Bootstrap Dialog Alert CSS -->
    <link href="~/assets/css/bootstrap-dialog.min.css" rel="stylesheet" />
    <!-- Bootstrap Datatable CSS -->
    <link rel="stylesheet" href="~/assets/css/datatables.min.css" />





    <link rel="stylesheet" href="~/assets/css/gijgo.min.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/custom.css" />
    <!-- Datepicker JS -->






    <title>OCR - Add Course</title>


</head>
<body>
    <div class="breadcrumb-area">
        <h1>Add Course</h1>
        @*<ol class="breadcrumb">
                <li class="item">
                    <a asp-area="ManageUsers" asp-controller="Hosts" asp-action="HostDashboard"><i class='bx bx-home-alt'></i></a>
                </li>
                <li class="item">Dashboard</li>
                <li class="item">Add Course</li>
            </ol>*@
    </div>
    <!-- End Breadcrumb Area -->
    <!-- Start -->
    <div class="card mb-30">
        <div class="card-body">
            <form>







                <div class="row form-group">
                    <div class="col-md-7 res-mb-16">
                        <input type="hidden" class="form-control" name="CourseId" id="CourseId">
                        <label>Name</label>
                        <input type="text" maxlength="64" class="form-control" name="Name" id="txtName">
                    </div>
                    <div class="col-md-5 res-mb-16">
                        <label>Topics</label>
                        <input type="text" maxlength="512" class="form-control" name="topics" id="txtTopics">
                    </div>
                </div>


                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" maxlength="512" name="desc" id="txtDesc"></textarea>
                </div>

                <div class="row form-group">

                    <div class="col-md-3 res-mb-16">
                        <label>Course Thumbnail</label>
                        <div class="button-wrap">
                            <label class="upload-button" for="fileuploadImg">
                                Choose File
                                <input type="hidden" class="form-control" name="hfimg" id="hfimg">
                                <input id="fileuploadImg" type="file" class="custom-file-upload">
                            </label>
                        </div>
                        <span class="re-note" id="error1">(only .jpg,.png allowed, maximum file size 1MB.)</span>
                    </div>
                    <div class="col-md-3 res-mb-16">
                        <label>Brochure</label>
                        <div class="button-wrap">
                            <label class="upload-button" for="fileuploadbrochure">
                                Choose File
                                <input type="hidden" class="form-control" name="hfbro" id="hfbro">
                                <input id="fileuploadbrochure" type="file" class="custom-file-upload">
                            </label>
                        </div>
                        <span class="re-note" id="error2">(only .jpg,.png,.pdf allowed, maximum file size 1MB.)</span>
                    </div>
                    <div class="col-md-3 res-mb-16">
                        <label>Class Frequency</label>
                        <select class="form-control" name="frequency" id="ddlFrequency">
                            <option selected value="0">Choose...</option>
                            <option value="Daily">Daily</option>
                            <option value="Weekly">Weekly</option>
                            <option value="Monthly">Monthly</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Total No. Of Classes</label>
                        <input type="number" class="form-control" name="noofclass" id="txtNoOfClass">
                    </div>
                </div>


                <div class="row form-group">
                    <div class="col-md-3 res-mb-16">
                        <label>Start Date</label>
                        <input type="hidden" class="form-control" name="fdate" id="fdate">
                        <input type="text" class="form-control date-form-control" name="sdatepicker" id="sdatepicker" disabled>
                    </div>
                    <div class="col-md-3 res-mb-16">
                        <label>End Date</label>
                        <input type="hidden" class="form-control" name="edate" id="edate">
                        <input type="text" class="form-control date-form-control" name="edatepicker" id="edatepicker" disabled>
                    </div>
                    <div class="col-md-3">
                        <label>Duration (Days)</label>
                        <input type="text" class="form-control" name="durationDate" id="durationDate" disabled>
                    </div>
                    <div class="col-md-3 res-mb-16">
                        <label>Cost</label>
                        <input type="number" class="form-control" name="cost" id="txtCost">
                    </div>
                </div>
                <input type="button" id="btnSubmit" class="btn btn-primary" value="Submit" />
                <button type="button" id="btnUpdate" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-warning" id="btnReset">Reset</button>
                @* <input type="button" class="btn btn-warning" id="btnReset" value="Reset">*@
            </form>






        </div>
    </div>
    <div class="card mb-30">
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-hover" id="tblCourses">
                    <thead class="thead-dark">
                        <tr>
                            @*<th scope="col">Sl#</th>*@
                            <th scope="col">Course Name</th>
                            <th scope="col">Topics</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Duration (Days)</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="modal fade" id="ViewDetailsModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Course Details</h5>
                    <button type="button" class="close col-black" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body re-modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped ">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <td id="cname"></td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td id="cdesc"></td>
                                </tr>
                                <tr>
                                    <th>Topics</th>
                                    <td id="topic"></td>
                                </tr>
                                <tr id="imgg">
                                    <th>Image</th>
                                    @*<td><img src="~/assets/img/course-pop-up-img.jpg" class="banner-img" /></td>*@
                                    <td><img id="imgBanner" class="banner-img" /></td>
                                </tr>
                                <tr>
                                    <th>Start Date</th>
                                    <td id="sdt"></td>
                                </tr>
                                <tr>
                                    <th>End Date</th>
                                    <td id="edt"></td>
                                </tr>
                                <tr>
                                    <th>Duration (Days)</th>
                                    <td id="duration"></td>
                                </tr>
                                <tr>
                                    <th>Cost</th>
                                    <td id="ccost"></td>
                                </tr>
                                <tr>
                                    <th>Class Frequency</th>
                                    <td id="Cf"></td>
                                </tr>
                                <tr>
                                    <th>No. Of Classes</th>
                                    <td id="noclass"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Course Banner Modal -->
    <div class="modal fade basicModalLG plan-modal" id="getCourseBrochureModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content p-20">
                <div class="modal-body">
                    <button type="button" class="close enroll-close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <a id="urlbrouchure" class="bx bx-download sm-download" download="brouchure.jpg"></a>
                    <img id="imgbrouchure" class="banner-img" />

                    <a id="urlbrouchurepdf" class="bx bx-download sm-download" download="brouchure.pdf"></a>
                    <embed type="application/pdf" id="imgbrouchurepdf" class="brochure-file" />
                </div>
            </div>
        </div>
    </div>
    <!-- End Course Banner Modal -->

    <script type="text/javascript">
        ServiceURL = "@Configuration.GetSection("HostURL")["ServiceURL"]";
        ClientURL = "@Configuration.GetSection("HostURL")["ClientURL"]";
    </script>
    <script src="~/assets/js/vendors.min.js"></script>

    <!-- ApexCharts JS -->
    <script src="~/assets/js/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/js/apexcharts/apex-custom-line-chart.js"></script>
    <script src="~/assets/js/apexcharts/apex-custom-pie-donut-chart.js"></script>
    <script src="~/assets/js/apexcharts/apex-custom-column-chart.js"></script>

    <!-- ChartJS -->
    <script src="~/assets/js/chartjs/chartjs.min.js"></script>

    <!-- jvectormap Min JS -->
    <script src="~/assets/js/jvectormap-1.2.2.min.js"></script>
    <!-- jvectormap World Mill JS -->
    <script src="~/assets/js/jvectormap-world-mill-en.js"></script>

    <!-- Custom JS -->
    <script src="~/assets/js/custom.js"></script>

    <!-- Calendar JS -->
    <script src="~/assets/calendar/js/moment.min.js"></script>
    <script src="~/assets/calendar/js/fullcalendar.min.js"></script>
    <script src="~/assets/calendar/js/calendar.js"></script>
    <!-- Bootstrap Dialog Min Alert JS -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/bootstrap-dialog.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajaxSetup({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.getItem("jwtToken"));
                    $('#img').show();
                },
                complete: function () {
                    $('#img').hide();
                },
                error: function () {
                    $('#img').hide();
                }
            });
        });
        function ClearData() {
            localStorage.clear();
        }
    </script>
    <script>
        function loadNavigation(actionName, menuName) {
            var pathName = window.location.pathname;
            var path = pathName.split("/");
            var sPath = path[2];
            var tlen = path.length;
            var sPath = path[tlen - 1];
            if (actionName == sPath) {
                $('.' + menuName).addClass('mm-active');
            }
        }
    </script>
    <!-- Clearable Input JS -->
    <script src="~/assets/js/clearable-input.js"></script>
    <!-- Bootstrap Datatable JS -->
    <script src="~/assets/js/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/ApplicationScripts/Host/UpdateUserRoleId.js"></script>
    <script src="~/ApplicationScripts/UserRegistration/user-details.js"></script>

    <script src="~/assets/js/gijgo.min.js"></script>
    <script>
        $(document).ready(function () {
            loadNavigation('CoursesWebView', 'add-course');

            const date = new Date();
            const formattedDate = date.toLocaleDateString('en-GB', {
                day: '2-digit', month: 'short', year: '2-digit'
            }).replace(/ /g, '-');
            $('#sdatepicker').val(formattedDate);
            $('#edatepicker').val(formattedDate);

            var d = new Date();
            var strDate = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
            $("#fdate").val(dateFormat(d, 'yyyy-mm-dd'));
            $("#edate").val(dateFormat(d, 'yyyy-mm-dd'));

            $("#durationDate").val(1);
            $("#txtCost").val(0);
        });</script>
    <script>
        $('#sdatepicker').datepicker(
            {
                format: 'dd-mmm-yy',

                disableDates: function (date) {
                    // allow for today
                    const currentDate = new Date().setHours(0, 0, 0, 0);
                    return date.setHours(0, 0, 0, 0) >= currentDate ? true : false;
                }
            });
        $("#sdatepicker").change(function () {
            var startdate = $("#sdatepicker").val();
            $("#fdate").val(dateFormat(startdate, 'yyyy-mm-dd'));


        });
        $('#edatepicker').datepicker(
            {
                format: 'dd-mmm-yy',
                disableDates: function (date) {
                    // allow for today
                    const currentDate = new Date().setHours(0, 0, 0, 0);
                    return date.setHours(0, 0, 0, 0) >= currentDate ? true : false;
                }
            });
        $("#edatepicker").change(function () {
            var enddate = $("#edatepicker").val();
            $("#edate").val(dateFormat(enddate, 'yyyy-mm-dd'));
        });</script>
    <!--  Date format JS -->
    <script src="~/ApplicationScripts/Common/date-format-converter.js"></script>
    <!-- Duration Date JS -->
    <script src="~/assets/js/date-duration.js"></script>
    <!-- Custom Bootstrap Valiation JS -->
    <script src="~/ApplicationScripts/Common/custom-validate.js"></script>
    <!--hostcourse js -->
    <script src="~/ApplicationScripts/Host/hostcourses.js"></script>
    <script src="~/ApplicationScripts/Host/host-course-validate.js"></script>


    <script>
        $(document).ready(function () {

            $('#btnUploadFile').on('click', function () {

                var data = new FormData();

                var files = $("#fileUpload").get(0).files;

                // Add the uploaded image content to the form data collection
                if (files.length > 0) {
                    data.append("UploadedImage", files[0]);
                }

                // Make Ajax request with the contentType = false, and procesDate = false
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: "/api/fileupload/uploadfile",
                    contentType: false,
                    processData: false,
                    data: data
                });

                ajaxRequest.done(function (xhr, textStatus) {
                    // Do other operation
                });
            });
        });</script>
    <script>
        //For Image
        $('#fileuploadImg').bind('change', function () {
            var ext = $('#fileuploadImg').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['png', 'jpg']) == -1) {
                BootstrapAlert('"Only .jpg, .png allowed"');
                $('#fileuploadImg').val("");
            } else {
                var picsize = (this.files[0].size);
                if (picsize > 1000000) {
                    BootstrapAlert("Maximum file size 1MB.");
                    $('#fileuploadImg').val("");
                }
            }
        });
        //For Brouchure
        $('#fileuploadbrochure').bind('change', function () {
            var ext = $('#fileuploadbrochure').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['png', 'jpg', 'pdf']) == -1) {
                BootstrapAlert("Only .jpg, .png, .pdf allowed");
                $('#fileuploadbrochure').val("");
            } else {
                var picsize = (this.files[0].size);
                if (picsize > 1000000) {
                    BootstrapAlert("Maximum file size 1MB.");
                    $('#fileuploadbrochure').val("");
                }
            }
        });</script>

</body>
</html>
