@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ClassWallDetail";
    Layout = "~/Views/Shared/_FrontPannelLayout.cshtml";
}
    <title>OCR - Course Details</title>
@section Scripts{
    <script>
        var sid =@ViewBag.id
            $("#hfScId").val(sid);
            //alert("Hi"+sid);
    </script>
    <script src="~/ApplicationScripts/Attendee/attendee-classwall-details.js"></script>
    <script src="~/ApplicationScripts/Common/date-format-converter.js"></script>
    <script>
        $(document).ready(function () {
            loadNavigation('ClassWallDetail', 'ClassWall-Att');
        });
    </script>
    <script>
        function hideLoader() {
            $('#loading').hide();
        }
        $(window).ready(hideLoader);
        setTimeout(hideLoader, 20 * 1000);
    </script>
}
<!-- Breadcrumb Area -->
<div id="loading"></div>
<div class="breadcrumb-area">
    <h1>Course Details</h1>
    <ol class="breadcrumb">
        <li class="item">
            <a href="attendee-dashboard.html"><i class='bx bx-home-alt'></i></a>
        </li>
        <li class="item">Dashboard</li>
        <li class="item">My Class Wall</li>
        <li class="item">Course Details</li>
    </ol>
</div>
<!-- End Breadcrumb Area -->
<div class="card mb-30">
    <div class="card-body">

        <div class="enroll-card">
            <div class="back-to-list">

                <a asp-area="Attendee" asp-controller="ClassWall" asp-action="ClassWall"><i class="bx bx-arrow-back"></i>Back To List</a>

            </div>
            <div class="calendar-header">
                <input type="hidden" name="hfScId" id="hfScId">
                <span class="section-title" id="coursename"></span><span class="topic-font" id="topic"></span>
                <div class="enroll-course-banner en-co-brochure" data-toggle="modal" data-target="#GetCourseBrochureModal">Brochure<i class="bx bxs-file-image bx-pad"></i></div>
            </div>
            <hr />
            <div class="mb-20">
                <span class="sm-host-name">
                    <i class="bx bxs-face"></i><span id="hostname"></span>
                </span>
                <span class="sm-batch-name">
                    <i class="bx bx-task"></i><span id="Batchname"></span>
                </span>
            </div>
            <div class="mb-20">
                <span class="sm-date">
                    <i class="bx bx-calendar"></i><span id="startdate"></span>
                </span>
                <span class="sm-time">
                    <i class="bx bx-time"></i><span id="starttime"></span>
                </span>
            </div>
            <div class="course-thumbnail float-right" id="imgg" style="display: none;">
                <img id="imgBanner" alt="OCR"/>
            </div>
            <div class="text margin-y">
                <p id="desc"></p>
            </div>
        </div>

    </div>
</div>
<!-- Start Course Brochure Modal -->
<div class="modal fade" id="GetCourseBrochureModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-20">
            <div class="modal-body">
                <button type="button" class="close enroll-close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <a id="urlbrouchure" class="bx bx-download sm-download" download></a>
                <img id="imgbrouchure" class="banner-img" />

                <a id="urlbrouchurepdf" class="bx bx-download sm-download"></a>
                <embed type="application/pdf" id="imgbrouchurepdf" class="brochure-file" />
            </div>
        </div>
    </div>
</div>
<!-- End  Course Brochure Modal -->
