
@{
    ViewData["Title"] = "ClassWall";
    Layout = "~/Views/Shared/_FrontPannelLayout.cshtml";
}
    <title>OCR - Attendee My Class Wall</title>
<!-- Text Ellipsis CSS -->
@*<link rel="stylesheet" href="~/assets/css/ellipsis.css" />*@
@section Scripts
{

    <script src="~/ApplicationScripts/Attendee/attendee-classwall.js"></script>
    <script src="~/ApplicationScripts/Common/date-format-converter.js"></script>
    <!-- Clearable Input JS -->
    <script src="~/assets/js/clearable-input.js"></script>
    <!-- Calendar JS -->
    <script src="~/assets/calendar/js/moment.min.js"></script>
    <script src="~/assets/calendar/js/fullcalendar.min.js"></script>
    <!-- Text Ellipsis JS -->
    
    <script>
        $('li').click(function () {
            $(this).addClass('active').siblings().removeClass('active');
        });
    </script>
    <script>
        $('#searchlist').keyup(function () {

            var that = this;
            all_list = $('#hostCWlList ul > li');

            var matching_list = all_list.filter(function (i, li) {
                var list_item_text = $(li).text().toUpperCase();
                var search_text = that.value.toUpperCase();
                return ~list_item_text.indexOf(search_text);
            });

            all_list.hide();
            matching_list.show();

        });
    </script>
    <script>
        $(document).ready(function () {
            loadNavigation('ClassWall', 'ClassWall-Att');
        });
    </script>
}
<!-- Main Content Layout -->
<!-- Breadcrumb Area -->
<div class="breadcrumb-area">
    <h1>My Class Wall</h1>
    <ol class="breadcrumb">
        <li class="item">
            <a href="attendee-dashboard.html"><i class='bx bx-home-alt'></i></a>
        </li>
        <li class="item">Dashboard</li>
        <li class="item">My Class Wall</li>
    </ol>
</div>
<!-- End Breadcrumb Area -->
<!-- Start -->

<div class="card mb-30">
    <div class="card-body" id="divcardbody">
        <div class="upcoming-section">
            <span id="hostClassWallList" class="up-active" data-toggle="tooltip" data-placement="bottom" title="List"><i class="bx bx-list-ul"></i></span>
            <span id="hostClassWallCalendar" data-toggle="tooltip" data-placement="bottom" title="Calendar"><i class="bx bx-calendar"></i></span>
        </div>
        <form>
            <div class="ocr-clearable">
                <input type="text" name="search" class="dashboard-panel-search" id="searchlist" placeholder="Search..">
                <i class="ocr-clearable-clear">&times;</i>
                <span class="class-search-icon" data-toggle="tooltip" data-placement="bottom" title="Search"><i class="bx bx-search"></i></span>
            </div>
        </form>
        <div class="color-legend-section">
            <div class="color-legend col-leg-green"></div>
            <div class="color-legend-text">
                Accomplished
            </div>
            <div class="color-legend col-leg-yellow"></div>
            <div class="color-legend-text">
                Upcoming
            </div>
            <div class="color-legend col-leg-seablue"></div>
            <div class="color-legend-text">
                Reschedule
            </div>
            <div class="color-legend col-leg-grey"></div>
            <div class="color-legend-text">
                Cancel
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- List -->
        <div id="divnoofdata" class="noofdatadiv"><span id="spannoofdata" class="noofdata"></span></div>
        <div class="container" id="hostCWlList">
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <ul class="list-group" id="coursedetails">
                    </ul>
                </div>
            </div>
        </div>

        <!-- Calendar -->
        <div id="hostCWCalendar"></div>

    </div>
    <div class="card-body" id="divcardbodynodata">
        <div id="sp_nodata" class="nodata">No data available</div>
    </div>
</div>
<!-- End -->
<!-- Footer -->
<div class="flex-grow-1"></div>



