@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "UpcomingClasses";
    Layout = "~/Views/Shared/_FrontPannelLayout.cshtml";
}
<!-- Text Ellipsis CSS -->
<link rel="stylesheet" href="~/assets/css/ellipsis.css" />
@section Scripts{

    <script src="~/ApplicationScripts/Common/date-format-converter.js"></script>
    <!-- Calendar JS -->
    <script src="~/assets/calendar/js/moment.min.js"></script>
    <script src="~/assets/calendar/js/fullcalendar.min.js"></script>
    <script src="~/ApplicationScripts/Attendee/upcoming-classes.js"></script>
    <!-- Clearable Input JS -->
    <script src="~/assets/js/clearable-input.js"></script>
    <!-- Text Ellipsis JS -->
    <script src="~/assets/js/jquery.ellipsis.js"></script>
    <script>
        $(document).ready(function () {
            loadNavigation('upcomingclasses', 'upcomingclasses-att');
        });
    </script>
    <script>
        $('.two-lines').ellipsis({ lines: 2 });
    </script>
    <script>
        $('#searchlist').keyup(function () {

            var that = this;
            all_list = $('#attendeeUPlList ul > li');

            var matching_list = all_list.filter(function (i, li) {
                var list_item_text = $(li).text().toUpperCase();
                var search_text = that.value.toUpperCase();
                return ~list_item_text.indexOf(search_text);
            });

            all_list.hide();
            matching_list.show();

        });
    </script>

}
<title>OCR - Upcoming Classes</title>
<!-- Breadcrumb Area -->
<div class="breadcrumb-area">
    <h1>Upcoming Classes</h1>
    <ol class="breadcrumb">
        <li class="item">
            <a href="attendee-dashboard.html"><i class='bx bx-home-alt'></i></a>
        </li>
        <li class="item">Dashboard</li>
        <li class="item">Upcoming Classes</li>
    </ol>
</div>
<!-- End Breadcrumb Area -->
<!-- Start -->
<!-- Calendar -->
<div class="card mb-30">
    <div class="card-body">
        <div class="upcoming-section">
            <span id="attendeeUpcomingList" class="up-active" data-toggle="tooltip" data-placement="bottom" title="List"><i class="bx bx-list-ul"></i></span>
            <span id="attendeeUpcomingCalendar" data-toggle="tooltip" data-placement="bottom" title="Calendar"><i class="bx bx-calendar"></i></span>
        </div>
        <form>
            <div class="ocr-clearable">
                <input type="text" name="search" class="dashboard-panel-search" id="searchlist" placeholder="Search..">
                <i class="ocr-clearable-clear">&times;</i>
                <span class="class-search-icon" data-toggle="tooltip" data-placement="bottom" title="Search"><i class="bx bx-search"></i></span>
            </div>
        </form>
        <div class="clearfix"></div>
        <span id="sp_nodata"></span>
        <!-- List -->
        <div class="container" id="attendeeUPlList">
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <ul class="list-group" id="coursedetails">
                    </ul>
                </div>
            </div>
        </div>
        <!-- Calendar -->
        <div id="attendeeUPCalendar"></div>
    </div>
</div>
<!-- End --> 
