@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_FrontPannelLayout.cshtml";
}
<!-- Calendar CSS -->
<link rel="stylesheet" href="~/assets/calendar/css/fullcalendar.css" />
<link rel="stylesheet" href="~/assets/calendar/css/fullcalendar.print.css" media="print" />




<title>OCR - Host Dashboard</title>

@section Scripts{
    <!-- ApexCharts JS -->
    <script src="~/assets/js/apexcharts/apexcharts.min.js"></script>
    <!-- ChartJS -->
    <script src="~/assets/js/chartjs/chartjs.min.js"></script>
    <!-- Calendar JS -->
    <script src="~/assets/calendar/js/moment.min.js"></script>
    <script src="~/assets/calendar/js/fullcalendar.min.js"></script>
    <!-- Dashboard JS -->
    <script src="~/ApplicationScripts/Common/date-format-converter.js"></script>

    <script src="~/ApplicationScripts/Host/dashboard.js"></script>
    <!-- ul li Pagination -->
    <link href="~/assets/css/PagingStyle.css" rel="stylesheet" />
    <script src="~/assets/js/paging.js"></script>
}
<!-- Start -->


<div class="mt-40">
    <div class="calendar-container mb-30">
        <div class="calendar-header">
            <div class="con-dashboard-section" id="divaction">
                <span id="hostDList" class="up-active" data-toggle="tooltip" data-placement="bottom" title="List"><i class="bx bx-list-ul"></i></span>
                <span id="hostDCalendar" data-toggle="tooltip" data-placement="bottom" title="Calendar"><i class="bx bx-calendar"></i></span>
            </div>
            <a asp-area="Hosts" asp-controller="Schedular" asp-action="Schedular" class="calendar-scheduler">Add Scheduler<i class="bx bx-plus bx-pad"></i></a>
        </div>
        <div class="clearfix"></div>
        <div class="card-body">
            <div id="sp_nodata" class="nodata"></div>
            <!-- List -->
            <div id="divnoofdata" class="noofdatadiv"><span id="spannoofdata" class="noofdata"></span></div>
            <div class="container" id="hostDashlList">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <ul class="list-group" id="coursedetails">
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Calendar -->
            <div id="hostDashCalendar"></div>

        </div>
    </div>
</div>

<!-- End -->
<!-- Start -->
<!-- Start -->
<div class="row">

    <!-- Class Analytics -->
    <div class="col-lg-6 col-md-12">
        <div class="card mb-30">
            <div class="card-header d-flex mobile-d-flex justify-content-between align-items-center">
                <h3> Capacity / Registration / Attendance</h3>

                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item d-flex mobile-d-flex align-items-center" href="javascript:void(0);">
                            <i class='bx bx-show'></i> View
                        </a>
                        <a class="dropdown-item d-flex mobile-d-flex align-items-center" href="javascript:void(0);">
                            <i class='bx bx-edit-alt'></i> Edit
                        </a>
                        <a class="dropdown-item d-flex mobile-d-flex align-items-center" href="javascript:void(0);">
                            <i class='bx bx-trash'></i> Delete
                        </a>
                        <a class="dropdown-item d-flex mobile-d-flex align-items-center" href="javascript:void(0);">
                            <i class='bx bx-printer'></i> Print
                        </a>
                        <a class="dropdown-item d-flex mobile-d-flex align-items-center" href="javascript:void(0);">
                            <i class='bx bx-download'></i> Download
                        </a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div id="class-analytics-chart" class="extra-margin"></div>
            </div>
        </div>
        <!-- End Class Analytics -->

    </div>

    <!-- Class Popularity -->
    <div class="col-lg-6 col-md-12">
        <div class="card mb-30">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3>Class Popularity</h3>

                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                            <i class='bx bx-show'></i> View
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                            <i class='bx bx-edit-alt'></i> Edit
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                            <i class='bx bx-trash'></i> Delete
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                            <i class='bx bx-printer'></i> Print
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                            <i class='bx bx-download'></i> Download
                        </a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div id="class-popularity-bar-chart"></div>
            </div>
        </div>
    </div>
</div>
<!-- End -->
<!-- Start -->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <!-- Revenue Growth -->
        <div class="card mb-30">
            <div class="card-header d-flex mobile-d-flex justify-content-between align-items-center">
                <h3>Monthly Revenue</h3>

                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item d-flex mobile-d-flex mobile-d-flex mobile-d-flex align-items-center" href="javascript:void(0);">
                            <i class='bx bx-show'></i> View
                        </a>
                        <a class="dropdown-item d-flex mobile-d-flex mobile-d-flex mobile-d-flex align-items-center" href="javascript:void(0);">
                            <i class='bx bx-edit-alt'></i> Edit
                        </a>
                        <a class="dropdown-item d-flex mobile-d-flex mobile-d-flex mobile-d-flex align-items-center" href="javascript:void(0);">
                            <i class='bx bx-trash'></i> Delete
                        </a>
                        <a class="dropdown-item d-flex mobile-d-flex mobile-d-flex mobile-d-flex align-items-center" href="javascript:void(0);">
                            <i class='bx bx-printer'></i> Print
                        </a>
                        <a class="dropdown-item d-flex mobile-d-flex mobile-d-flex mobile-d-flex align-items-center" href="javascript:void(0);">
                            <i class='bx bx-download'></i> Download
                        </a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div id="host-revenue-growth-chart" class="extra-margin"></div>
            </div>
        </div>
        <!-- End Revenue Growth -->
    </div>
</div>
<!-- End -->
<!-- Footer -->
<div class="flex-grow-1"></div>
<!-- End -->
