@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Attendees";
    Layout = "~/Views/Shared/_FrontPannelLayout.cshtml";
}
@section Scripts{
    <!--  Date format JS -->
    <script src="~/ApplicationScripts/Common/date-format-converter.js"></script>

    <script src="~/ApplicationScripts/Common/custom-validate.js"></script>
    <!-- Attendee JS -->
    <script src="~/ApplicationScripts/Host/attendees.js"></script>


    <!-- Attendees JS -->
    <script src="~/assets/js/attendees.js"></script>
    <!-- Clearable Input JS -->
    <script src="~/assets/js/clearable-input.js"></script>
    <!-- Text Ellipsis JS -->
    <script src="~/assets/js/jquery.vEllipsis.js"></script>
    <script>
        $(document).ready(function () {
            $().vEllipsis({
                'lines': 2,
                'responsive': true
            });
        });
    </script>

    <script>
        $('#searchlist').keyup(function () {

            var that = this;
            all_list = $('#divcoursewiseattendee div > div');

            var matching_list = all_list.filter(function (i, li) {
                var list_item_text = $(li).text().toUpperCase();
                var search_text = that.value.toUpperCase();
                return ~list_item_text.indexOf(search_text);
            });

            all_list.hide();
            matching_list.show();

        });
    </script>
    <script>
        $(document).ready(function () {
            loadNavigation('attendees', 'attendee');
        });
    </script>
}
<!-- Main Content Layout -->
<!-- Breadcrumb Area -->
<title>OCR - Attendees</title>
<div class="breadcrumb-area">
    <h1>Attendees</h1>
    <ol class="breadcrumb">
        <li class="item">
            <a asp-area="ManageUsers" asp-controller="Hosts" asp-action="HostDashboard"><i class='bx bx-home-alt'></i></a>
        </li>
        <li class="item">Dashboard</li>
        <li class="item">Attendees</li>
    </ol>
</div>
<!-- End Breadcrumb Area -->
<!-- Start -->
<div class="card mb-30">
    <div class="card-body" id="divcardbody">
        <div class="upcoming-section">
            <span id="courseAttendees" class="up-active" data-toggle="tooltip" data-placement="bottom" title="Course Wise Attendees"><i class="bx bxl-discourse"></i></span>
            <span id="attendeesCourses" data-toggle="tooltip" data-placement="bottom" title="Attendees Wise Courses"><i class="bx bx-id-card"></i></span>
        </div>
        <div class="ocr-clearable">
            <input type="text" name="search" class="dashboard-panel-search" id="searchlist" placeholder="Search..">
            <i class="ocr-clearable-clear">&times;</i>
            <span class="class-search-icon" data-toggle="tooltip" data-placement="bottom" title="Search"><i class="bx bx-search"></i></span>
        </div>
        <div class="clearfix"></div>

        @*Course Wise Attendees-------------start------------*@
        <div class="mt-20" id="courseAttendeesList">
            <div class="row" id="divcoursewiseattendee">

            </div>
        </div>
        @* Attendees Wise Courses ----------start-----------*@
        <div class="table-responsive mt-15" id="attendeesCoursesList">
            <table class="table table-hover" id="tbl_awc" name="tbl_awc">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Sl#</th>
                        <th scope="col">Attendee</th>
                        <th scope="col">No of Courses</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-body" id="divcardbodynodata">
        <div id="sp_nodata" class="nodata">No data available</div>
    </div>
</div>
<!--End-->

<div class="modal fade" id="GetAttendeesModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Attendee Details</h5>
                <button type="button" class="close col-black" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body re-modal-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="tbl_attendeeDetails">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sl#</th>
                                <th scope="col">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-GetAttendeesModal-->

<div class="modal fade" id="GetCoursesModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Course Details</h5>
                <button type="button" class="close col-black" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body re-modal-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="tbl_courseDetails">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sl#</th>
                                <th scope="col">Course Name</th>
                                <th scope="col">Start Date </th>
                                <th scope="col">End Date </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>C PROGRAMMING</td>
                                <td>31-Aug-20</td>
                                <td>01-Sep-20</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>ELECTRONICS</td>
                                <td>30-Aug-20</td>
                                <td>31-Aug-20</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>MATHEMATICS</td>
                                <td>01-Sep-20</td>
                                <td>30-Sep-20</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
