@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "HostChangePassword";
    Layout = "~/Views/Shared/_FrontPannelLayout.cshtml";
}
<title>OCR - Host Change Password</title>
<!-- Top Navbar -->
<!-- Top Navbar Area -->
<!-- End Top Navbar Area -->
<!-- Main Content Layout -->
<!-- Breadcrumb Area -->
<div class="breadcrumb-area">
    <h1>Change Password</h1>
    <ol class="breadcrumb">
        <li class="item">
            <a asp-area="ManageUsers" asp-controller="Hosts" asp-action="HostDashboard"><i class='bx bx-home-alt'></i></a>
        </li>
        <li class="item">Dashboard</li>
        <li class="item">Change Password</li>
    </ol>
</div>
<!-- End Breadcrumb Area -->
<!-- Start -->
<div class="card mb-30">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label>Current password</label>
                <input type="text" class="form-control col-form-6">
            </div>
            <div class="form-group">
                <label>New password</label>
                <input type="text" class="form-control col-form-6">
            </div>
            <div class="form-group">
                <label>Confirm new password</label>
                <input type="text" class="form-control col-form-6">
            </div>
            <button type="submit" class="btn btn-primary">Change</button>
        </form>

    </div>
</div>

<!-- End -->