@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "rescheduling";
    Layout = "~/Views/Shared/_FrontPannelLayout.cshtml";
}

<!-- Main Content Layout -->
<!-- Breadcrumb Area -->
<title>OCR - Rescheduling</title>
<div class="breadcrumb-area">
    <h1>Rescheduling</h1>
    <ol class="breadcrumb">
        <li class="item">
            <a asp-area="ManageUsers" asp-controller="Hosts" asp-action="HostDashboard"><i class='bx bx-home-alt'></i></a>
        </li>
        <li class="item">Dashboard</li>
        <li class="item">Rescheduling</li>
    </ol>
</div>
<!-- End Breadcrumb Area -->
<!-- Start -->
<div class="card mb-30" id="rescheduling-section">
    <div class="card-body">
        <div class="existing-date">Existing Date: <span class="col-black">09/07/2020</span></div>
        <form>
            <div class="row form-group">
                <div class="col">
                    <label>Courses</label>
                    <select id="inputCourses" class="form-control" disabled>
                        <option>Choose...</option>
                        <option selected>Physics</option>
                        <option>Chemistry</option>
                        <option>Literature</option>
                        <option>Business</option>
                    </select>
                </div>
                <div class="col">
                    <label class="res-label">Rescheduling Date</label>
                    <input type="text" class="form-control" placeholder="Pick the date" id="datepicker">
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <label>Start Time</label>
                    <input type="text" class="form-control timepicker">
                    <i class="bx bx-time-five time-clock" role="right-icon"></i>
                </div>
                <div class="col">
                    <label>End Time</label>
                    <input type="text" class="form-control timepicker">
                    <i class="bx bx-time-five time-clock" role="right-icon"></i>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Reschedule</button>
        </form>

    </div>
</div>

<div class="card mb-30">
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Courses</th>
                        <th scope="col">Date</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Rescheduling</th>
                        <th scope="col">Cancel</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Physics</td>
                        <td>09/07/2020</td>
                        <td>04.00 pm</td>
                        <td>05.00 pm</td>
                        <td><a href="javascript:void(0);" class="form-control table-edit" data-toggle="modal" data-target="#RescheduledModal"><i class="bx bx-copy-alt"></i></a></td>
                        <td><a href="javascript:void(0);" class="form-control table-cancel" data-toggle="modal" data-target="#ConCancelModal"><i class="bx bx-trash"></i></a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Chemistry</td>
                        <td>11/07/2020</td>
                        <td>06.00 pm</td>
                        <td>07.00 pm</td>
                        <td><a href="javascript:void(0);" class="form-control table-edit" data-toggle="modal" data-target="#RescheduledModal"><i class="bx bx-copy-alt"></i></a></td>
                        <td><a href="javascript:void(0);" class="form-control table-cancel" data-toggle="modal" data-target="#ConCancelModal"><i class="bx bx-trash"></i></a></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Literature</td>
                        <td>15/07/2020</td>
                        <td>10.00 am</td>
                        <td>12.00 am</td>
                        <td><a href="javascript:void(0);" class="form-control table-edit" data-toggle="modal" data-target="#RescheduledModal"><i class="bx bx-copy-alt"></i></a></td>
                        <td><a href="javascript:void(0);" class="form-control table-cancel" data-toggle="modal" data-target="#ConCancelModal"><i class="bx bx-trash"></i></a></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Business</td>
                        <td>20/07/2020</td>
                        <td>04.00 pm</td>
                        <td>05.00 pm</td>
                        <td><a href="javascript:void(0);" class="form-control table-edit" data-toggle="modal" data-target="#RescheduledModal"><i class="bx bx-copy-alt"></i></a></td>
                        <td><a href="javascript:void(0);" class="form-control table-cancel" data-toggle="modal" data-target="#ConCancelModal"><i class="bx bx-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

