@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "schedular";
    Layout = "~/Views/Shared/_FrontPannelLayout.cshtml";
}
<title>OCR - Schedular</title>
<div class="breadcrumb-area">
    <h1>Schedular</h1>
    <ol class="breadcrumb">
        <li class="item">
            <a asp-area="ManageUsers" asp-controller="Hosts" asp-action="HostDashboard"><i class='bx bx-home-alt'></i></a>
        </li>
        <li class="item">Dashboard</li>
        <li class="item">Schedular</li>
    </ol>
</div>
<!-- End Breadcrumb Area -->
<!-- Start -->
<div class="card mb-30">
    <div class="card-body">
        <form>
            <div class="row form-group">
                <div class="col">
                    <label>Courses</label>
                    <select id="inputCourses" class="form-control">
                        <option selected>Choose...</option>
                        <option>Physics</option>
                        <option>Chemistry</option>
                        <option>Literature</option>
                        <option>Business</option>
                    </select>
                </div>
                <div class="col">
                    <label>Date</label>
                    <input type="text" class="form-control date" placeholder="Pick the multiple dates">
                    <i class="bx bx-calendar time-clock" role="right-icon"></i>
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <label>Start Time</label>
                    <input type="text" class="form-control timepicker">
                    <i class="bx bx-time-five time-clock" role="right-icon"></i>
                </div>
                <div class="col">
                    <label>End Time</label>
                    <input type="text" class="form-control timepicker">
                    <i class="bx bx-time-five time-clock" role="right-icon"></i>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>

<div class="card mb-30">
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Courses</th>
                        <th scope="col">Date</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Physics</td>
                        <td>09/07/2020</td>
                        <td>04.00 pm</td>
                        <td>05.00 pm</td>
                        <td><a href="javascript:void(0);" class="form-control table-edit"><i class="bx bx-edit-alt"></i></a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Chemistry</td>
                        <td>11/07/2020</td>
                        <td>06.00 pm</td>
                        <td>07.00 pm</td>
                        <td><a href="javascript:void(0);" class="form-control table-edit"><i class="bx bx-edit-alt"></i></a></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Literature</td>
                        <td>15/07/2020</td>
                        <td>10.00 am</td>
                        <td>12.00 am</td>
                        <td><a href="javascript:void(0);" class="form-control table-edit"><i class="bx bx-edit-alt"></i></a></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Business</td>
                        <td>20/07/2020</td>
                        <td>04.00 pm</td>
                        <td>05.00 pm</td>
                        <td><a href="javascript:void(0);" class="form-control table-edit"><i class="bx bx-edit-alt"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

