@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "AttendeeDashboard";
    Layout = "~/Views/Shared/_FrontPannelLayout.cshtml";
}
<title>OCR - Attendee Dashboard</title>
<!-- Start Registration Message Modal -->
<div class="modal fade" id="regimsgModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <a class="close regi-msg-close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </a>
                <div class="regi-msg-modal">
                    <div class="regi-attendee-check"><i class="fa fa-check-circle"></i></div>
                    <h4 class="display-4">Thank You!</h4>
                    <p class="lead">You have been successfully <strong>registered</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Registration Message Modal -->
<!-- Main Content Layout -->
<!-- Start -->
<div class="card mb-30 mt-40" id="divenroll" style="display: none;">
    <div class="card-header justify-content-between align-items-center text-center msg-box">

        <h3>You have not enroll to any courses. Do you want to enroll ? </h3>
        <a class="btn btn-success" asp-area="Attendee" asp-controller="EnrollCourses" asp-action="EnrollCourse">Yes</a>

        <a href="javascript:void(0);" class="btn btn-danger">No</a>

    </div>
</div>

<!-- Courses Chart -->
<div class="card mb-30 mt-40">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Subject & number of classes</h3>

        <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class='bx bx-dots-horizontal-rounded'></i>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                    <i class='bx bx-show'></i> View
                </a>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                    <i class='bx bx-edit-alt'></i> Edit
                </a>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                    <i class='bx bx-trash'></i> Delete
                </a>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                    <i class='bx bx-printer'></i> Print
                </a>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                    <i class='bx bx-download'></i> Download
                </a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div id="apex-custom-datalabels-bar"></div>
    </div>
</div>

<!-- Host Chart -->
<div class="card mb-30">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Host</h3>

        <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class='bx bx-dots-horizontal-rounded'></i>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                    <i class='bx bx-show'></i> View
                </a>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                    <i class='bx bx-edit-alt'></i> Edit
                </a>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                    <i class='bx bx-trash'></i> Delete
                </a>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                    <i class='bx bx-printer'></i> Print
                </a>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                    <i class='bx bx-download'></i> Download
                </a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div id="apex-basic-area-chart"></div>
    </div>
</div>

<!-- End -->
@section Scripts{
    <!-- ApexCharts JS -->
    <script src="~/assets/js/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/js/apexcharts/apex-custom-bar-charts.js"></script>
    <script src="~/assets/js/apexcharts/apexcharts-stock-prices.js"></script>
    <script src="~/assets/js/apexcharts/apex-custom-area-charts.js"></script>
    <script src="~/ApplicationScripts/Attendee/attendee-dashboard.js"></script>
    <!-- ChartJS -->
    <script src="~/assets/js/chartjs/chartjs.min.js"></script>

    <script src="~/ApplicationScripts/Host/host-plan.js"></script>
    <!-- Eroll -->
    <script>
        if (localStorage.getItem("direct") == 1) {
            $('#regimsgModal').modal();
            localStorage.removeItem("direct");
        }
        $('#divenroll .btn-danger').click(function () {
            $("#divenroll").attr("style", "display:none;");
        });
    </script>
    <script>
        $(document).ready(function () {
            loadNavigation('AttendeeDashboard', 'AttendeeDashboard');
        });
    </script>
}
