
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
}

<title>OCR - Thank You</title>
<div class="thank-you-area">
    <div class="jumbotron text-center">
        <div class="thank-you-check"><i class="bx bx-check"></i></div>
        <h1 class="display-3">Thank You!</h1>
        <p class="lead">You have been successfully <strong>Change your email id</strong></p>
        <hr>
        @*<p>
            Now you can
        </p>
        <p class="lead">
            <a asp-area="ManageUsers" class="btn btn-primary btn-sm" role="button" asp-controller="Users" asp-action="Login">Login</a>
        </p>*@
    </div>
</div>
