@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
    <title>OCR - Forgot Password</title>
@section Scripts{
    <script src="~/ApplicationScripts/Common/custom-validate.js"></script>
    <script src="~/ApplicationScripts/Common/mail-gateway.js"></script>
    <script>
        $(document).ready(function () {
            $(".learn-main-content").addClass("bg-image");
            $(".ocr-search-container").hide();
        });
    </script>
    <script>
        $(document).ready(function () {
            //$('#txtEmail').focus();
            $("#MyForm").keypress(function (e) {
                kCode = e.keyCode || e.charCode //for cross browser
                if (kCode == 13) {
                    var defaultbtn = $(this).attr("DefaultButton");
                    $("#" + defaultbtn).click();
                    return false;
                }
            });
        });
        function ValidateForm() {
            if (!BlankTextBox('txtEmail', 'Email Id / Mobile No')) {
                return false;
            }
            else if (!IsSpecialCharacter1stPalce('txtEmail')) {
                return false;
            }
            else {
                return true;
            }
        }
        $('#btnSubmit').click(function () {
            if (ValidateForm()) {
                CallSave();
            }
            function CallSave() {
                $.ajax({
                    url: ServiceURL + "/api/UserRegistration/CheckValidEmail?email=" + $('#txtEmail').val(),
                    type: "GET",
                    contentType: "application/json",
                    success: function (data) {
                        if (data.retOut != "User Not Found") {
                            $.post("/ManageUsers/Users/AthenticationUser?username=" + $('#txtEmail').val() + "", function (dataAuth) {
                                if (dataAuth == 1) {
                                    if (data.userRegistration.signUpBy == 1) {
                                        window.location.href = "/ManageUsers/Users/ResetLink";
                                    }
                                    else {
                                        const now = new Date();
                                        const itemSMS = {
                                            value: generateOTP(),
                                            expiry: now.getTime() + 300000,
                                        };
                                        localStorage.setItem("smsOTP", JSON.stringify(itemSMS));
                                        localStorage.setItem("mobileNo", $('#txtEmail').val());
                                        localStorage.setItem("uid", data.userRegistration.uid);

                                        var settings = {
                                            "url": "http://59.162.167.52/api/MessageCompose?admin=napoleon.mohanta@gmail.com&user=karanjiacollege@gmail.com:G3L2P4V727&senderID=KJACLG&receipientno=" + $('#txtEmail').val() + "&msgtxt=Greetings from SmartIndia . Your OTP code is: " + itemSMS.value + " . Code valid for 5 minutes only.&state=4",
                                            "method": "POST",
                                            "timeout": 0,
                                        };

                                        $.ajax(settings).done(function (response) {
                                            console.log(response);
                                        });
                                        window.location.href = "/ManageUsers/Users/OTPVerification";
                                    }
                                }
                            });
                        }
                        else if (data.retOut == "User Not Found") {
                            BootstrapAlert('Email Id / Mobile No not found.', 'txtEmail');
                        }
                        else {
                            BootstrapAlert('Something went wrong. Please try again');
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus + "\nError Tirado: \n" + errorThrown);
                    }
                });
            }
        });
    </script>
}
<div class="forgot-password-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="forgot-password-content">
                <div style="float:right">
                    <a asp-area="ManageUsers" asp-controller="Users" asp-action="Login"><i class="bx bx-arrow-back"></i></a>
                </div>
                <div class="row m-0">
                    <div class="col-lg-12 p-0">
                        <div class="forgot-password-form">
                            <h2>Recover your password</h2>
                            <p class="mb-0">Please provide the <b>Registered EmailId / Mobile No</b> that you used when you signed up for your OCR account.</p>
                            <form name="forgotpassword" id="MyForm" defaultbutton='btnSubmit'>
                                <div class="form-group">
                                    <input type="email" id="txtEmail" class="form-control" name="name" placeholder="Email Id / Mobile No"
                                           maxlength="100" autocomplete="off">
                                    <span class="label-title">
                                        <i class='bx bx-user'></i>
                                    </span>
                                </div>
                                <input type="button" id="btnSubmit" class="forgot-password-btn" value="Send" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

