@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@section Scripts{
    <!-- Password visible JS -->
    <script src="~/assets/js/password-visible.js"></script>
    <!-- Custom Bootstrap Valiation JS -->
    <script src="~/ApplicationScripts/Common/custom-validate.js"></script>
    <script src="~/ApplicationScripts/UserRegistration/login-validate.js"></script>
    <script>
        $(document).ready(function () {
            $(".learn-main-content").addClass("bg-image");
            $(".ocr-search-container").hide();
        });
    </script>
}
<div class="login-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="login-form">
                <h2>Sign In</h2>
                <form name="login" id="MyForm" defaultbutton='btnLogin'>
                    <div class="form-group cerror">
                        <input type="text" id="txtEmail" class="form-control" name="email" placeholder="Email Id / Mobile No" maxlength="60">
                        <span class="label-title">
                            <i class='bx bx-user'></i>
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="password" id="txtPassword" class="form-control" name="password" placeholder="Password" maxlength="20">
                        <span class="label-title">
                            <i class='bx bx-lock'></i>
                        </span>
                        <span toggle="#txtPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                    <div class="form-group">
                        <div class="remember-forgot">
                            <a asp-area="ManageUsers" asp-controller="Users" asp-action="ForgotPassword" class="forgot-password">Forgot password?</a>
                        </div>
                    </div>
                    <input type="button" id="btnLogin" class="login-btn" value="Login" />
                    <p class="mb-0">
                        Don’t have an account?
                        <a asp-area="ManageUsers" asp-controller="Users" asp-action="SignUp">Sign Up</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
