
@{
    ViewData["Title"] = "mThankyou";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<title>OCR - Thank You</title>
<div class="thank-you-area">
    <div class="jumbotron text-center">
        <div class="thank-you-check"><i class="bx bx-check"></i></div>
        <h1 class="display-3">Thank You!</h1>
        <p class="lead">You have been successfully <strong>registered</strong></p>
        <hr>
        <p style="line-height: 2.39">
            &nbsp;
        </p>
        <p class="lead" >
            &nbsp;
        </p>
    </div>
</div>

