
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
    <title>OCR - Reset Password</title>
<style>
    .tooltip-inner {
        max-width: 48% !important; 
    }
</style>
@section Scripts{
    <!-- Custom Bootstrap Valiation JS -->
    <script src="~/ApplicationScripts/Common/custom-validate.js"></script>
    <!-- Password visible JS -->
    <script src="~/assets/js/password-visible.js"></script>
    <script src="~/ApplicationScripts/UserRegistration/reset-password.js"></script>
    <script>
        ACode = '@ViewBag.ACode';
        $(document).ready(function () {
            $(".learn-main-content").addClass("bg-image");
            $(".ocr-search-container").hide();
        });
    </script>
}
<div class="reset-password-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="reset-password-content">
                <div class="row m-0">
                    <div class="col-lg-12 p-0">
                        <div class="reset-password-form">
                            <h2>Reset Your Password</h2>
                            <form name="forgotpassword" id="MyForm" defaultbutton='btnSubmit'>
                                <div class="form-group">
                                    <input type="password" class="form-control" ondrop="return false;" onpaste="return false;" autocomplete="off" maxlength="50" name="name" placeholder="Enter a new password" id="txtPassword">
                                    <span class="label-title">
                                        <i class='bx bx-lock'></i>
                                    </span>
                                    <span toggle="#txtPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    <span class="fa fa-info-circle password-info" data-container="body" data-toggle="tooltip" data-placement="top" title="Passwords must be at least 8 characters and upper case (A-Z), lower case (a-z), number (0-9) and special character @("(e.g. !@#$%^&*)")."></span>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" ondrop="return false;" onpaste="return false;" autocomplete="off" maxlength="50" name="email" placeholder="Confirm your new password" id="txtCnfmPassword">
                                    <span class="label-title">
                                        <i class='bx bx-lock'></i>
                                    </span>
                                </div>
                                <input type="button" id="btnSubmit" class="reset-password-btn" value="Reset my Password" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

