
@{
    ViewData["Title"] = "ResetLink";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".ocr-search-container").hide();
        });
    </script>
}
<div class="regi-verification-area">
    <div class="jumbotron text-center">
        <div class="regi-info"><i class="fa fa-check-circle"></i></div>
        <h3 class="display-5">A reset password link has been sent to your email address.</h3>
        <p class="lead">Check your email to reset your <strong>password.</strong></p>
    </div>
</div>

