
@{
    ViewData["Title"] = "Verification";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@section Scripts{

    <!-- Custom Bootstrap Valiation JS -->
    <script src="~/ApplicationScripts/Common/custom-validate.js"></script>
    <script src="~/ApplicationScripts/UserRegistration/verification.js"></script>
}
<div class="forgot-password-area recover-password-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="forgot-password-content">
                <div class="row m-0">
                    <div class="col-lg-12 p-0">
                        <div class="forgot-password-form">
                            <h2>Validate OTP</h2>
                            <form name="verification" id="MyForm" defaultbutton='btnVerify'>
                                <div class="row form-group regi-rec-form-group res-row">
                                    <div class="col res-col">
                                        <input type="text" id="txtEmailOTP" autocomplete="off" class="form-control" maxlength="4" name="code" placeholder="4-digit Email OTP" oninput="this.value = this.value.replace(/[^0-9-()+ ]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
                                        <span class="label-title">
                                            <i class="bx bx-label l-25"></i>
                                        </span>
                                        <a id="resendEmail" class="resend-otp" onclick="CallEmailOTP();">
                                            <i class="bx bx-repeat pr-1"></i>Resend Email OTP
                                        </a>
                                    </div>
                                    <div class="col res-col">
                                        <input type="text" id="txtSMSOTP" autocomplete="off" class="form-control" maxlength="4" name="code" placeholder="4-digit Mobile OTP" oninput="this.value = this.value.replace(/[^0-9-()+ ]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
                                        <span class="label-title">
                                            <i class="bx bx-label l-25"></i>
                                        </span>
                                        <a id="resendOTP" class="resend-otp" onclick="CallSMSOTP();">
                                            <i class="bx bx-repeat pr-1"></i>Resend SMS OTP
                                        </a>
                                    </div>
                                    <div class="re-note ml-20">
                                        (Use first 4-digit OTP from email and second 4-digit OTP from registered mobile)
                                    </div>
                                </div>
                                <input type="button" id="btnVerify" class="forgot-password-btn" value="Verify" />
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

