/*------------Schedular page----------------------------*/
#divdailyrecurring {
    display: none;
}

#divDayofweek {
    display: none;
}

#divDayofMonth {
    display: none;
}

#divmonthdate {
    display: none;
}

#divdateforweekly {
    display: none;
}

.radio-inline {
    padding-left: 5px;
}

    .radio-inline input {
        margin-right: 3px;
    }
.text-padding {
    padding-left: 2%;
    padding-top: 1%;
}
/*------------//Schedular page----------------------------*/
.text-red {
    color: #fc6765;
}

.date-form-control {
    background: #ffffff !important;
}

/*-------------entire-loader css--------------------*/
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
.nodata 
{
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #5cbecd;
}
.nodata-btn-schedular {
    top: 280%;
}
/*-------------------------Details page loader------------*/
#loading {
    background: url('../img/loader.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}
.noofdata {
    color: #0c9bb3;
    font-weight: 700;
    margin-left: -21px;
}
.noodata {
    color: #1b1b1d;
    margin-left: 1px;
    font-weight: 700;
}
.noofdatadiv {
    padding-left: 39px;
    padding-bottom: 9px;
}



