/*------------Schedular page----------------------------*/
#divdailyrecurring {
    display: none;
}

#divDayofweek {
    display: none;
}

#divDayofMonth {
    display: none;
}

#divmonthdate {
    display: none;
}

#divdateforweekly {
    display: none;
}

.radio-inline {
    padding-left: 5px;
}

    .radio-inline input {
        margin-right: 3px;
    }
.text-padding {
    padding-left: 2%;
    padding-top: 1%;
}
/*------------//Schedular page----------------------------*/
.text-red {
    color: #fc6765;
}
.date-form-control{
    background:#ffffff !important;
}

