/*------------Schedular page----------------------------*/
#divdailyrecurring {
    display: none;
}

#divDayofweek {
    display: none;
}

#divDayofMonth {
    display: none;
}

#divmonthdate {
    display: none;
}

#divdateforweekly {
    display: none;
}

.radio-inline {
    padding-left: 5px;
}

    .radio-inline input {
        margin-right: 3px;
    }
/*------------//Schedular page----------------------------*/
.text-red {
    color: #fc6765;
}

.date-form-control {
    background: #ffffff !important;
}

/*--------------loader css--------------------*/
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
.p-red {
    color: #e21818;
}
.p-mar-bot {
    margin-bottom: -6px;
}
.conf-pro {
    color: #e1000a;
    font-weight: 600;
    margin-bottom: 5px;
}