@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Course";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!-- Datepicker CSS -->
<link rel="stylesheet" href="~/assets/css/gijgo.min.css" />
@section Scripts{

    <script src="~/ApplicationScripts/Common/date-format-converter.js"></script>
    <script src="~/ApplicationScripts/Home/bind-courselist.js"></script>
    <script src="~/ApplicationScripts/Common/custom-validate.js"></script>
    <!-- Advance Search JS -->
    <script src="~/assets/js/advance-search.js"></script>
    <!-- Text Ellipsis JS -->
    <script src="~/assets/js/jquery.vEllipsis.js"></script>
    <!-- Datepicker JS -->
    <script src="~/assets/js/gijgo.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".ocr-search-container").hide();
            loadNavigation('Course', 'course');
        });
    </script>
    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>
    <script>
        $('#searchDate').datepicker({ format: 'dd-mmm-yyyy' });
    </script>
}
<!-- Start Course Area -->
<div class="course-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="edgt-content">
                <div class="edgt-content-inner">
                    <div class="edgt-title-holder edgt-standard-with-breadcrumbs-type edgt-has-bg-image edgt-bg-parallax"
                         style="height: 230px;background-image: url(&quot;../../assets/img/course-tittle-area.jpg&quot;);background-position: center 0px;" data-height="230">
                        <div class="edgt-title-image">
                            <img itemprop="image" src="~/assets/img/course-tittle-area.jpg" alt="ocr" />
                        </div>
                        <div class="edgt-title-wrapper" style="height: 230px">
                            <div class="edgt-title-inner">
                                <div class="edgt-grid">
                                    <div class="edgt-title-inner-holder">
                                        <div class="edgt-title-info">
                                            <h2 class="edgt-page-title">Courses</h2>
                                        </div>
                                        <div class="edgt-breadcrumbs-info">
                                            <div itemprop="breadcrumb" class="edgt-breadcrumbs edgt-has-inline-style">
                                                <a itemprop="url" href="login.html">Home</a>
                                                <span class="edgt-delimiter">&nbsp; / &nbsp;</span>
                                                <span class="edgt-current">Courses</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 mt-30 edgt-content-left">
                                @*<div class="edgt-cl-filter-holder">
                                        <div class="edgt-course-items-counter">
                                            <span class="counter-label">Showing</span>
                                            <span class="counter-min-value">1</span>
                                            <span class="counter-dash">–</span>
                                            <span class="counter-max-value">6</span>
                                            <span class="counter-label">of</span>
                                            <span class="counter-total">23</span>
                                        </div>
                                    </div>*@
                                <div class="row" id="div_courselist">
                                </div>


                                @*<div class="edgt-cl-standard-pagination">
                                        <ul>
                                            <li class="edgt-cl-pag-prev">
                                                <a href="javascript:void(0);" data-paged="1"><span class="bx bx-chevron-left"></span></a>
                                            </li>
                                            <li class="edgt-cl-pag-number edgt-cl-pag-active">
                                                <a href="javascript:void(0);" data-paged="1">1</a>
                                            </li>
                                            <li class="edgt-cl-pag-number ">
                                                <a href="javascript:void(0);" data-paged="2">2</a>
                                            </li>
                                            <li class="edgt-cl-pag-number ">
                                                <a href="javascript:void(0);" data-paged="3">3</a>
                                            </li>
                                            <li class="edgt-cl-pag-number ">
                                                <a href="javascript:void(0);" data-paged="4">4</a>
                                            </li>
                                            <li class="edgt-cl-pag-next">
                                                <a href="javascript:void(0);" data-paged="2"><span class="bx bx-chevron-right"></span></a>
                                            </li>
                                        </ul>
                                    </div>*@
                            </div>
                            <div class="col-md-3 mt-30 edgt-sidebar-right">
                                <div class="widget edgt-course-categories-widget">
                                    <div class="edgt-widget-title-holder">
                                        <h4 class="edgt-widget-title">Find Course</h4>
                                    </div>
                                    <div class="outer-adv-search-area" id="outer-advanceSearchArea">

                                        <div class="col-sm-4 col-lg-4 col-md-4 ocr-float-left">
                                            <div class="outer-adv-search-text">Host</div>
                                        </div>
                                        <div class="col-sm-8 col-lg-8 col-md-8 ocr-float-left">
                                            <div class="form-group">
                                                <input type="text" id="txtHost" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-4 col-lg-4 col-md-4 ocr-float-left">
                                            <div class="outer-adv-search-text">Course</div>
                                        </div>
                                        <div class="col-sm-8 col-lg-8 col-md-8 ocr-float-left">
                                            <div class="form-group">
                                                <input type="text" id="txtCourse" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-4 col-lg-4 col-md-4 ocr-float-left">
                                            <div class="outer-adv-search-text">Start Date</div>
                                        </div>
                                        <div class="col-sm-8 col-lg-8 col-md-8 ocr-float-left outer-ocr-datepicker-md">
                                            <div class="form-group">
                                                <input type="text" autocomplete="off" id="searchDate" readonly />
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-4 col-lg-4 col-md-4 ocr-float-left">
                                            <div class="outer-adv-search-text">Price</div>
                                        </div>
                                        <div class="col-sm-4 col-lg-4 col-md-4 ocr-float-left">
                                            <div class="form-group">
                                                <input type="text" autocomplete="off" id="txtMinPrice" placeholder="Min price" onkeypress="return isNumber(event)" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-4 col-md-4 ocr-float-left">
                                            <div class="form-group">
                                                <input type="text" autocomplete="off" id="txtMaxPrice" placeholder="Max price" onkeypress="return isNumber(event)" />
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="adv-search-btn-area">
                                            <button type="button" class="btn btn-outline-secondary" id="clearfilter">Clear Filter</button>
                                            <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget edgt-course-categories-widget">
                                    <div class="edgt-widget-title-holder">
                                        <h4 class="edgt-widget-title">Categories</h4>
                                    </div>
                                    <ul class="edgt-course-categories-list">
                                        <li>
                                            <h6 class="edgt-course-categories-list-title"><a href="javascript:void(0);" target="_self" itemprop="url">Academics</a></h6>
                                        </li>
                                        <li>
                                            <h6 class="edgt-course-categories-list-title"><a href="javascript:void(0);" target="_self" itemprop="url">Hospitality</a></h6>
                                        </li>
                                        <li>
                                            <h6 class="edgt-course-categories-list-title"><a href="javascript:void(0);" target="_self" itemprop="url">Web Development</a></h6>
                                        </li>
                                        <li>
                                            <h6 class="edgt-course-categories-list-title"><a href="javascript:void(0);" target="_self" itemprop="url">Management</a></h6>
                                        </li>
                                        <li>
                                            <h6 class="edgt-course-categories-list-title"><a href="javascript:void(0);" target="_self" itemprop="url">Medicine</a></h6>
                                        </li>
                                        <li>
                                            <h6 class="edgt-course-categories-list-title"><a href="javascript:void(0);" target="_self" itemprop="url">Handicraft</a></h6>
                                        </li>
                                        <li>
                                            <h6 class="edgt-course-categories-list-title"><a href="javascript:void(0);" target="_self" itemprop="url">Engineering</a></h6>
                                        </li>
                                        <li>
                                            <h6 class="edgt-course-categories-list-title"><a href="javascript:void(0);" target="_self" itemprop="url">Photography</a></h6>
                                        </li>
                                        <li>
                                            <h6 class="edgt-course-categories-list-title"><a href="javascript:void(0);" target="_self" itemprop="url">Statistics</a></h6>
                                        </li>
                                        <li>
                                            <h6 class="edgt-course-categories-list-title"><a href="javascript:void(0);" target="_self" itemprop="url">Business</a></h6>
                                        </li>
                                    </ul>
                                </div>
                                <div class="widget edgt-course-categories-widget">
                                    <div class="edgt-widget-title-holder">
                                        <h4 class="edgt-widget-title">Popular Courses</h4>
                                    </div>
                                    <ul class="edgt-course-categories-list">
                                        <li>
                                            <h6 class="edgt-course-categories-list-title"><a href="javascript:void(0);" target="_self" itemprop="url">Photography</a></h6>
                                        </li>
                                        <li>
                                            <h6 class="edgt-course-categories-list-title"><a href="javascript:void(0);" target="_self" itemprop="url">Statistics</a></h6>
                                        </li>
                                        <li>
                                            <h6 class="edgt-course-categories-list-title"><a href="javascript:void(0);" target="_self" itemprop="url">Learning CAD</a></h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

